name: "Push"

on:
  push:
  pull_request:

concurrency:
  # Only run on the latest push
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6"

        - name: "Set up Python"
          uses: actions/setup-python@v6.0.0
          with:
            python-version: "3.13"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.txt

        - name: "Lint"
          run: python3 -m ruff check .

        - name: "Format"
          run: python3 -m ruff format . --check
  validate:
    needs:
      - ruff	# Ruff can make changes to the repo
    uses: "jchonig/ha_cyberq/.github/workflows/validate_sub.yml@main"
  release:
    needs:
      - ruff
      - validate
    uses: "jchonig/ha_cyberq/.github/workflows/release_sub.yml@main"
    permissions:
      contents: write
    if: startsWith(github.ref, 'refs/tags/v')
